In [43]:
#MODULE 1
print Hello Python 101
print('Hello Python 102')

Hello Python 102

In [8]:
#Datatypes
#Int: 1,2,3,4,5,6...
#Float: 1.1, 1.2, 1.3, 1.4, 1.5, 1.6

In [16]:
float(2)
int(1.1) #It may lose infomation
int('1') #if a string value contain an interger value, i can convert it to int
    #We cannot change a string value that contains a non-interger
    
#Yo can convert int to String or Float to String
    #str(1):'1'
    #str(4.5):'4.5'

    #Boolean can contain 2 values (True or False)
    #type(True)
        #True= 1
        #False= 0

IndentationError: unexpected indent (4098910660.py, line 11)

In [19]:
#operations
#25//5
#Doble diagonal para obtener un resultado redondeado
#It will be taken by hierarchical operations
#The expresions in pharentesis are performed first

(30+2)*60

1920

In [24]:
#variables
#We may use varaibles to stores values
my_variable=1
#we can store the procedure of expression
x=43+60+16+41
x=x/60
print(x)

type(x)

2.6666666666666665

float

In [37]:
#String 
#Sequence of characters within two quotes or single quotes
#A string can be spaces or digits, it can also be special characters
Name= 'Michael Jackson'
1*Name

#Each element in the sequence can be accessed using an index represented by the array of numbers. We can use also negative index.
#Name[0:4]

len("Michael Jackson")
#"len" helps to knwo the lenght of the sentence writen

3*'Michael Jackson \t is the best' #It shows "Michael Jackson 3 times" #"n" represents new line
#We use "\t" for a place, "\n" for given a new line, "\\" or r"\" for backlash

'Michael Jackson'

In [50]:
#String Methods
A="Thriller is the sixth studio album"
B=A.upper()
print(B)
C=A.replace("Thriller","Number Nine")
print(C)

THRILLER IS THE SIXTH STUDIO ALBUM
Number Nine is the sixth studio album

In [54]:
#MODULE 2
#Tuples are in order sequence, these are written by comma-separated within parentheses
Ratings=(10,5,6,7,9,6,1)
Tuple1=("disco",10,1.2)
Tuple1[0]
Tuple1[0:3]
#A tuple may contain more tuples within the tuple
NT=(1,2,("pop","rock"),(3,4),("disco",(1,2)))
NT[2]
#I may include multibrackets to tuples
NT[3]

(3, 4)

In [60]:
#Lists
#Also are ordered sequences, we may include tuples
L=["Michael Jackson",10.1,1982,[1,2],('A',1)]
L.append("A")
L[3]="Noel"
L[3:6]

['Noel', ('A', 1), 'A']

In [64]:
#Sets
#These are type of collection, sets only have unique elements. Sets doesn't record element position.
#Duplicated items will not be present
album_list=["Michael Jackson","Thriller","Thriller",1982]
#album_list.add("Mexico")
#album_list.remove("Mexico")
album_set=set(album_list)
album_set

{1982, 'Michael Jackson', 'Thriller'}

In [67]:
#Dictionaries
#A dictionary has key and values/contain information
#The values can be duplicated and mutable
#Dict.keys()=["Thriller","Back in Black", "The Bodyguard", "Rumors"]
#Dict.values()=["1988","1950", "1912", "1880"]

In [68]:
#MODULE 3
#Comparison Operators
"AC/DC"=="Michael Jackson"
"AC/DC"!="Michael Jackson"

True

In [74]:
#If statement
age=18
#if(age>18)
print("you can enter")
#elseif(age==18)
print("go see Pink Floyd")
#else:
print("move on")

you can enter
move on

In [76]:
#Logic Operators
album_year=1983
if(album_year<1980)or(album_year>1989):
    print("The Album was made 70s or 90s")
else:
    print("The Album was made 1980")
    
if(album_year<1980)and(album_year>1989):
    print("The Album was made 70s or 90s")
else:
    print("The Album was made 1980")

The Album was made 1980
The Album was made 1980

In [83]:
#Loops
#The range function outputs an ordered sequence as a list “i”. If the input is a positive integer, the output is a sequence;
#the sequence contains the same number of elements as the input, but starts at zero.
range(10,15)
squares=["red","yellow","green"]

for i, squares in enumerate(squares):
    squares
    i
    
squares=["red","yellow","green"]
Newsquares=[]
i=0

print(squares)
#while(squares[i]=='orange'):
        #Newsquare.appends(square[i])
        
        #i=i+1

['red', 'yellow', 'green']

In [91]:
#Functions
#Functions take some input then produce some output or change.
#The function is just a piece of code you can reuse.

albums_ratings=[10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
L=len(albums_ratings)

L

S=sum(albums_ratings)

S


albums_ratings.sort()

Sorted=sorted(albums_ratings)

Sorted

In [93]:
#Making a function
def add1(a):
    b=a+1
    return b

add1(5)

6

In [96]:
#Multiple parameters
def Mult(a,b):
    c=a*b
    return c
Mult(2,3)

Mult(2," Michael Jackson")

' Michael Jackson Michael Jackson'