**Modulo 4 - Semana 2 - Actividad 1: Python for Data Science (IBM)**

Nombre: Diego Alonso Luna Ramirez

Matricula: A01793035

![Data Science_Module 4.png]()

In [5]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [1]:
# Files
path='.\\'
filename='test.txt'

# Write file
File1 = open(path+filename,'w') # W for Writing 
File1.write('line 1 \n')
File1.write('line 2 \n')
File1.close() # Always Close

# Append file
File1 = open(path+filename,'a') # A for Appending
File1.write('line 3')
File1.close() # Always Close

# Read File
File1 = open(path+filename,'r') # R for Reading
print(File1.name) # Get Object Path+FileName
print(File1.mode) # Get the mode in which the file was open (r,w,a)
File1.close() # Always Close

# Other Modes
#    r+ : Reading and writing. Cannot truncate the file.
#    w+ : Writing and reading. Truncates the file.
#    a+ : Appending and Reading. Creates a new file, if none exists.


# Using With to not have to use .close()
with open(path+filename,'r') as File2:
    file_stuff=File2.read(4) # Read as is chars
    print(file_stuff)

with open(path+filename,'r') as File2:
    file_stuff=File2.readlines(2) # Read within line num of char
    print(file_stuff)

with open(path+filename,'r') as File2:
    for line in File2:
        print(line)

.\test.txt
r
line
['line 1 \n']
line 1

line 2

line 3

In [4]:
# Pandas
import pandas as pd
csv_path='testcsv.csv'

# Read file with Pandas
#df=pd.read_csv(csv_path)
#df.head() # Read first 5 rows

# Create Data Frame from Dictionary
letters={'ID':['111','112','113','113'],'FIRST':['Juan','Pedro','Pablo','Pablo'],'LAST':['Bladinieres','Garces','Juarez','Juarez']}
df2=pd.DataFrame(letters)
df2.head()

# Create DataFrame from another Dataframe by column 
x=df2[['ID','FIRST']] # Can add more than one column
x.head()

# Access value by x,y value
df2.iloc[1,1] # Can use index or name of column

# Create Slice of dataframe
z=df2.iloc[0:2,0:2] # Can use index or name of column
z.head()

# Get unique elements within a column
df2['ID'].unique()

# Get a result of a operation (return Boolean)
df2['ID']>='112'
df3=df2[df2['ID']>='112']
df3.head()

# Save to csv file
df3.to_csv('test2csv.csv')